.hidden {
    display: none;
}

header {
    background-color: rgb(232, 181, 240);
    padding: 10px;
    /* position: sticky; */
    top: 0;
}

#main-logo {
    display: block;
    margin: 0 auto;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-image: url(../images/background.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: overlay;
}